[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
autopep8 = "*"

[packages]
py2neo = "*"
pymongo = "*"
dnspython = "*"

[requires]
python_version = "3.9"
